In [102]:
import pandas as pd
import numpy as np

In [103]:
executions_df1 = pd.DataFrame({
    'id': [123,456,789, 9090],
    'start_time': ['2021-01-01', '2021-02-02', '2021-03-03', '2021-03-15'],
    'end_time': ['2021-06-06', '2021-07-07', '2021-08-08', '2021-11-01']
})

names_df2 = pd.DataFrame({
    'instance_id': [123,456,789],
    'names': ['abc','def','jkl'],
    'trash': [1,2,3]
})

product_name_df3 = pd.DataFrame({
    'robot_id': [123,456,789, 9090],
    'product_name': ['AAA','BBB','CCC','DDD']
})

In [104]:
# merging
pd.merge(executions_df1, names_df2[['instance_id','names']], left_on='id', right_on='instance_id', how='left').merge(product_name_df3, left_on='id', right_on='robot_id', how='left').drop(columns=['instance_id','robot_id'])

     id  start_time    end_time names product_name
0   123  2021-01-01  2021-06-06   abc          AAA
1   456  2021-02-02  2021-07-07   def          BBB
2   789  2021-03-03  2021-08-08   jkl          CCC
3  9090  2021-03-15  2021-11-01   NaN          DDD

In [105]:
# tasks:
# 1. multiplicar o instance_id por 100
# 2. transformar os names em letras maiusculas
# 3. remover a coluna trash

# task 1
def multiply_instance_per_ten(df):
    df['instance_id'] *= 100

    return df

# task 2
def capitalization_names(df):
    df['names'] = df['names'].str.upper()

    return df

# task 3
def remove_trash_column(df):
    df.drop(columns='trash', inplace=True)

    return df

In [106]:
res = (
    names_df2
    .pipe(multiply_instance_per_ten)
    .pipe(capitalization_names)
    .pipe(remove_trash_column)
)


res

   instance_id names
0        12300   ABC
1        45600   DEF
2        78900   JKL